// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'fontawesome/css/font-awesome.css'
// Check out "bower_components/prism/themes/" for available themes

ixda_green = #55c4c4
ixda_gary = #515e56
ixda_light_gary = #deded0
ixda_red = #ed1c24
ixda_orange = #f26639
ixda_bright_green = #a6ce39
ixda_blue = #296098
fanzytv_green = #67BF97
fanzytv_blue = #4875B9

body
  font-size 24px

article
  font-family: 'Noto Sans CJK TC', sans-serif

a
  color: ixda_green
  text-decoration: none

.cover
  img.avatar
    display: block
    margin: 0 auto
    width: 160px
    height: 160px
    border-radius: 160px

article.bespoke-parent.fanzytv-blue
  background-color: fanzytv_blue

article.bespoke-parent.sleep
  background: url(../images/sleep.jpg) no-repeat top left / cover
  .dark-mask
    background: rgba(0,0,0,0.4)

article.bespoke-parent.pencake
  background: url(../images/pencake.jpg) no-repeat top left / cover
  .dark-mask
    background: rgba(0,0,0,0.4)

article.bespoke-parent.mren
  background: url(../images/mren.png) no-repeat top left / cover
  .dark-mask
    background: rgba(0,0,0,0.8)

img.ixda-logo
  width: 480px

img.fanzytv-logo
  width: 480px

img.fullstack-logo
  width: 360px

img.frontend-backend
  width: 480px

img.mren
  width: 640px

img.gulp
  background-color: #cf4646
  padding: 20px
  margin: 10px

img.particaljs
  background-color: #555

div.stack
  border-width: 0px 20px 20px 20px
  border-color: black
  border-style: solid
  width: 243px
  height: 324px
  display: flex
  flex-direction: column-reverse
  padding: 0px 18px 0px 18px

  span
    display:block
    color: #fff
    text-align: center
    margin: 0 0 18px 0
    height: 36px

    &:nth-child(1)
      background-color: ixda_red
    &:nth-child(2)
      background-color: ixda_orange
    &:nth-child(3)
      background-color: ixda_bright_green
    &:nth-child(4)
      background-color: fanzytv_green
    &:nth-child(5)
      background-color: fanzytv_blue
    &:nth-child(6)
      background-color: ixda_blue


section.circle
  div.circle
    position: absolute
    border: 1px solid #555
    width: 200px
    height: 200px
    border-radius: 200px
    text-align: center
    line-height: 200px
    color: #fff
    opacity: 0.5

    &:nth-child(1)
      top: 60px
      left: 220px
      background-color: ixda_bright_green

    &:nth-child(2)
      top:200px
      left: 300px
      background-color: ixda_red

    &:nth-child(3)
      top:200px
      left: 140px
      background-color: ixda_blue

    &:nth-child(4)
      width: 100px
      height: 100px
      top: 200px
      left: 270px
      background-color: ixda_green
      line-height: 100px
      opacity: 1
      border: 0px

strong
  color: ixda_green
