// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'fontawesome/css/font-awesome.css'
// Check out "bower_components/prism/themes/" for available themes

ixda_green = #55c4c4
ixda_gary = #515e56
ixda_light_gary = #deded0
ixda_red = #ed1c24
ixda_orange = #f26639
ixda_bright_green = #a6ce39
ixda_blue = #296098
fanzytv_green = #67BF97
fanzytv_blue = #4875B9

body
  font-family: 'Noto Sans'
  font-size 24px

a
  color: ixda_green
  text-decoration: none

.cover
  img.avatar
    display: block
    margin: 0 auto
    width: 160px
    height: 160px
    border-radius: 160px

article.bespoke-parent.fanzytv-blue
  background-color: fanzytv_blue

article.bespoke-parent.pencake
  background: url(../images/pencake.jpg) no-repeat top left / cover
  .dark-mask
    background: rgba(0,0,0,0.3)

article.bespoke-parent.mren
  background: url(../images/mren.png) no-repeat top left / cover
  .dark-mask
    background: rgba(0,0,0,0.8)

img.ixda-logo
  width: 480px

img.fanzytv-logo
  width: 480px

img.fullstack-logo
  width: 360px

img.frontend-backend
  width: 480px

img.mren
  width: 640px
