doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 培養全端能力與跨領域學習
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section.cover
        h1 培養全端能力與跨領域學習
        h3
          a(href='https://fb.me/loveyou.tw', target="_blank") <i class="fa fa-facebook-official"></i> Duncan Hsieh
        img.avatar(src='images/profile.jpg')
        h5
          | press &nbsp;
          i.fa.fa-arrow-right

      section
        img.ixda-logo(src='images/ixda_brandidentity.svg')
        h2
          a(href='https://fb.me/ixda.tw', target="_blank")
            i.fa.fa-camera
            span &nbsp; @ 台灣互動設計協會

      section.emphatic-text(data-bespoke-backdrop='emphatic', data-bespoke-state='fanzytv-blue')
        img.fanzytv-logo(src='images/logo.svg')

      section.emphatic-text(data-bespoke-backdrop='emphatic', data-bespoke-state='fanzytv-blue')
        h2.bullet 我的工作是?
        h3.bullet
          del 前端
          | &nbsp;工程師
        i.bullet.fa.fa-arrow-down
        h3.bullet 
          | 全端工程師

      section.emphatic-text.dark-mask(data-bespoke-backdrop='emphatic', data-bespoke-state='pencake')
        h5 &nbsp;
        h5 &nbsp;
        h2 什麼是全端工程師?
        h5 &nbsp;
        h5 
          | Photo by &nbsp;
          a(href='https://www.flickr.com/photos/hedvigs/12591933913/in/photostream/', target='_blank') hedvigs
          | &nbsp;CC-BY

      section
        h3 前端 + 後端 = 全端工程師?
        img.frontend-backend(src='images/frontend-backend.jpg')
        h5 
          | Source&nbsp;
          a(href='http://aprendizweb.com.br/front-end-e-back-end/', target='_blank') Patryck Gratão

      section.emphatic-text.dark-mask(data-bespoke-backdrop='emphatic', data-bespoke-state='mren')
        h2 非常好
        h2 我第一份工作就是全端工程師了!

      section.emphatic-text(data-bespoke-backdrop='emphatic', data-bespoke-state='mren')

      section
        h2 2004 年
        h3 誤打誤撞，一個工程師自幹一個電商網站。
        h3 從沒想過自己寫的程式可以運作 11 年以上!

      section.emphatic-text.dark-mask(data-bespoke-backdrop='emphatic', data-bespoke-state='pencake')
        h2 Fullstack Developer

    script(src='build/build.js')
